@model NumericSequenceCalculator.Models.SequenceModel

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">

                </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
             @using (Html.BeginForm("NumberResult", "Home"))
            {
                @Html.Label("Enter a Number:")
               @* @Html.TextBoxFor(m => m.Number)<br />*@
                @Html.TextBox("TextboxNumber")<br />
                <input type="submit" value="Click Here" />

               @* @Html.ActionLink("Click Here", "NumberResult", new { id = Model.Number })*@
            
                @Html.ActionLink("Reset", "ResetFields")
            }
            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
       
    </section>
</div>
